@use "sass:map";

$default-font-family: -apple-system,blinkmacsystemfont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$default-font-family-code: menlo, monaco, consolas, ubuntu mono;
$post-theme-blue: (
  "color-scheme": light,
  "color-primary": map.get($post-colors, "blue-9"),
  "color-primary-bg": map.get($post-colors, "blue-1"),
  "color-primary-text": map.get($post-colors, "blue-9"),
  "color-text": map.get($post-colors, "grey-11"),
  "color-text-secondary": map.get($post-colors, "grey-7"),
  "color-on-primary": map.get($post-colors, "grey-1"),
  "color-on-primary-bg": map.get($post-colors, "blue-10"),
  "color-bg": transparent,
  "font-size-base": 14px,
  "font-size-h1": px2em(36px, 14px),
  "font-size-h2": px2em(28px, 14px),
  "font-size-h3": px2em(24px, 14px),
  "font-size-h4": px2em(18px, 14px),
  "font-size-h5": px2em(14px, 14px),
  "font-size-h6": 1em,
  "font-family": $default-font-family,
  "font-family-code": $default-font-family-code,

  "codeblock-bg": map.get($post-colors, "grey-12"),
  "table-bg": rgba(map.get($post-colors, "blue-1"), .2),

  "blockquote-text-color": map.get($post-colors, "grey-8"),
  "blockquote-symbol-bg": map.get($post-colors, "grey-4"),
  "blockquote-symbol-content": "''",
  "blockquote-symbol-size": 40px,

  "hr-height": 4px,
  "hr-bg": map.get($post-colors, "grey-4")
) !default;

