@use "sass:map";
@use "sass:math";

$default-font-family: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
$default-font-family-code: monospace, menlo, monaco, "Courier New";
$post-theme-default: (
  "color-primary": map.get($post-colors, "orange-5"),
  "color-primary-bg": map.get($post-colors, "orange-2"),
  "color-primary-text": map.get($post-colors, "orange-6"),
  "color-text": map.get($post-colors, "grey-12"),
  "color-text-secondary": map.get($post-colors, "grey-7"),
  "color-on-primary": map.get($post-colors, "grey-1"),
  "color-on-primary-bg": map.get($post-colors, "grey-12"),
  "font-size-base": 16px,
  "font-size-h1": px2em(48px),
  "font-size-h2": px2em(36px),
  "font-size-h3": px2em(24px),
  "font-size-h4": px2em(20px),
  "font-size-h5": px2em(18px),
  "font-size-h6": 1em,
  "font-family": $default-font-family,
  "font-family-code": $default-font-family-code
) !default;
$post-theme-default-color: map.get($post-theme-default, "color-primary");