// blockquote
@include add-vars((
  "blockquote-text-color": map-get($post-theme, "color-text-secondary"),
  "blockquote-symbol-content": "'“'",
  "blockquote-symbol-color": rgba(map-get($post-theme, "color-text-secondary"), 0.5),
  "blockquote-symbol-size": 60px,
  "blockquote-symbol-bg": transparent
));

@mixin symbol () {
  min-width: 8px;
  line-height: .6em;
  text-align: center;
  font-family: "Helvetica Neue","Arial", "Times New Roman", "Impact",;
  font-weight: bold;
  font-size: 5em;
  position: absolute;
  color: get-var("blockquote-symbol-color");
  background: get-var("blockquote-symbol-bg");
}

@mixin post-blockquote() {
  blockquote {
    position: relative;
    margin: 2.25em 0;
    padding: 0 20px 0 get-var("blockquote-symbol-size");
    color: get-var("blockquote-text-color");
    &::before {
      content: #{get-var("blockquote-symbol-content")};
      @include symbol();
      top: 0;
      bottom: 0;
      left: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}