// header

h1 {
  margin-top: px2em(15px);
  margin-bottom: px2em(15px);
  font-size: px2em(40px);
  font-weight: 600;
  line-height: 1.5;
}

h2 {
  margin-top: px2em(15px);
  margin-bottom: px2em(15px);
  font-size: px2em(32px);
  font-weight: 600;
  line-height: 1.5;
}

h3 {
  margin-top: px2em(12px);
  margin-bottom: px2em(12px);
  font-size: px2em(26px);
  font-weight: 600;
  line-height: 1.5;
}

h4 {
  margin-top: px2em(12px);
  margin-bottom: px2em(12px);
  font-size: px2em(22px);
  font-weight: 600;
  line-height: 1.5;
}

h5 {
  margin-top: px2em(12px);
  margin-bottom: px2em(12px);
  font-size: px2em(18px);
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  margin-top: px2em(12px);
  margin-bottom: px2em(12px);
  font-size: px2em(14px);
  font-weight: 600;
  line-height: 1.5;
}