// hr
@include add-vars((
  "hr-height": 4px,
  "hr-bg": map-get($post-colors, "grey-4")
));

@mixin post-hr() {
  hr {
    margin: 1.6em 0;
    height: get-var("hr-height");
    border: 0;
    background: get-var("hr-bg");
  }
}
