// link
$link-text-color: map-get($post-theme, "color-primary-text") !default;
$link-code-text-color: map-get($post-theme, "color-primary-text") !default;

a {
  color: $link-text-color;
  text-decoration: none;
  code {
    color: $link-code-text-color;
  }
  &:active {
    opacity: 0.7;
  }
  &:hover {
    text-decoration: underline;
  }
}