// list

ol, ul {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 16px;
  ol, ul {
    padding-left: 30px;
    margin-bottom: 0;
  }
  > li {
    margin-top: 5px;
    font-size: inherit;
    line-height: 1.6;
  }
}