// paragraph
@include add-vars((
  "p-font-size": 1.125em
));

@mixin post-paragraph() {
  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: get-var("p-font-size");
    line-height: 1.7;
  }
}